html {
    background-color: hotpink;
    font-family: Arial;
}
h1 {
    color: indigo;
    text-align: center;
}
p {
    color: darkcyan;
    padding-left: 10px;
}
ul {
    color: rgb(138, 8, 34);
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
div.styled-box {
    background-color: lightgray;
    padding: 15px;
    text-align: center;
}